* { 
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: hidden;
}

.app {

}

.header-wrap {
  height: 160px;
  padding: 20px;
  background: #333;
  color: #fff;
  border-bottom: 2px solid #E1AD01;
  
  display: flex;
  flex-flow: row nowrap;
}

.header {
  
  flex: 1 0 auto;
}

.side-page-wrap {
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: calc(100vh - 160px)
}


.sidebar {
  background: #444;
  color: #fff;
  
  display: flex;
  flex: 0 0 200px;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: flex-start;       
} 

/* This is display grid */
.main-content {
  background-color: rgb(212, 212, 212);
  
  flex: 1 1 600px;
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 30px 10px;
}

/* These are the grid divs */
.card-div {
  height: auto;
  width: fit-content;
  padding: 10px;
  margin: 10px auto;
  border-color: rgba(250, 250, 250, 0.2);
  box-shadow: 5px 5px 12px rgb(0, 0, 0, 1), -5px -5px 12px rgba(50, 50, 50, 1);
  border-radius: 3px;
}

.image {
  height:300px;
  border: 2px solid #E1AD01;
  border-radius: 3px;
}

.card-title {
  width: fit-content;
  margin: auto;
  font-weight: 700;
}

.scores-div {
  border:2px solid #E1AD01;
  border-radius: 3px;
  margin: 40px auto;
  padding: 20px 20px;
}

.score-num {
font-weight: bold;
margin: 10px 0px;
}

.best-num {
  font-weight: bold;
  margin: 10px 0px;
}

.instruction-div {
  border:2px solid #E1AD01;
  border-radius: 3px;
  margin: 0px 48px;
  padding: 20px 20px;
}

/* /////////////////////////////////////////////////// */

@media only screen and (max-width: 520px) {
  .side-page-wrap {  
    display: block;
    justify-content: space-between;
    height: calc(100vh - 160px)
  }
  
  .instruction-div {
    display: none;
  }

  .scores-div {
    padding: 5px 20px;
    margin: 10px auto;
  }
}