body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(212, 212, 212);
}

code {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.main-content {
  margin-left: 200px;
}

